server:
  port: 8080

spring:
  application:
    name: Job-posting-management
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  datasource:
    url: jdbc:mysql://localhost:3306/demo
    username: root
    password: root

logging:
  level:
    root: info
    com.example: debug